*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#container{
    width: 300px;
    height: 300px;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

#winner{
    border: 1px solid;
    width: 300px;
    height: 100px;
    margin-top: 50px;
}